body {
    font-family: 'Tajawal', sans-serif !important;
    line-height: 1.8 !important;
}

.gradient-bg {
    background: linear-gradient(to left, #F47B20, #C12778);
    color: white;
}

footer {
    font-size: 0.9rem;
    background: linear-gradient(to left, #F47B20, #C12778);
}